:root {
  --c-light: #DDD;
  --c-dark: #282828;
  --c-gray: #545454;
  --c-gray-light: #a9a9a9;
  --c-accent: #FFC700;
  --c-blue: #2F80ED;
  --c-red: #EB5757;
  --duration: 300ms;
  --duration-f: 150ms;
  --font: 'Montserrat';

  font-size: 4.26vw;
  font-family: var(--font);
  
  @media screen and (min-width: 376px) {
    font-size: 16px;
  }
}