
.contact {
  min-height: 100vh;

  background: #F9FCFF;
  
  &__header {
    justify-content: center;

    margin-bottom: 1.5rem;

    &-icon {
      width: 1rem;
height: 1rem;

margin-right: 0.5rem;
    }
  }

  &__avatar {
    width: 1.25rem;
    height: 1.25rem;

    font-size: 0.625rem;
    line-height: 0;

    margin-right: 0.5rem;

    @media screen and (min-width: 992px) {
      width: 1.5rem;
      height: 1.5rem;

      font-size: 0.75rem;
    }
  }

  &__close {
    width: 1.5rem;
    height: 1.5rem;

    position: absolute;
    right: 0.75rem;
    @media screen and (min-width: 992px) {
      width: 2rem;
      height: 2rem;
    }
  }

  &__card {
    
  }
}